/* Need to put my color codes here! */

:root {
    --body: #c5d1ec;
    --heading: #ebecf5;
    --base: #262626;
    --base1: linear-gradient(to bottom, #1c0536ff, rgb(24, 2, 26));
    --base2: linear-gradient(to right, #1c0536ff, rgb(27, 2, 57));
    --base3:linear-gradient(to bottom, #282828, rgb(44, 48, 56));
    --brand: rgb(73, 190, 183);
    --brand2: #bf2e80ff;
   

}


button {
    background-color: var(--brand);
    text-decoration: none;
    border: none;
    border-radius: 7px;
    height: 40px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    width: 170px;
    color: black;
    /* Add other common styles for your buttons */
}

/* Additional styles or hover effects for your buttons */
button:hover {
    background-color: var(--brand2);
    /* Add other hover effects if needed */
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--brand2);
}
.btn {
    background-color: var(--brand);
    text-decoration: none;
    border: none;
    border-radius: 7px;
    height: 40px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    width: 170px;
    color: black;
    /* Add other common styles for your buttons */
}

/* Additional styles or hover effects for your buttons */
.btn:hover {
    background-color: var(--brand2);
    /* Add other hover effects if needed */
}
h3{
    font-weight: 700;
    padding: 50px 50px;
}
h2{
    font-weight: 700;
    padding-bottom: 20px;
    
}
h2 span{
    color: var(--brand);
}
p{
    font-family: 'Bai Jamjuree', sans-serif;
    padding-bottom: 20px;
   
    
}
body, h1, h2, h3, h4 {
    font-family: 'Bai Jamjuree', sans-serif;
  }

