.projectContents{
    padding-left: 250px;
    height: 100vh;   
    background: rgb(16, 30, 85);
    color: var(--heading);
}
.videobox {
    max-width: 150vh;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 0;
    padding-bottom: 50px;
}

.videobox .content {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
}

.videobox p {
    margin: 0;
}


/* Adjusting the grid for smaller screens */
@media screen and (max-width: 991px) {
    .videobox {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        align-content: center;
    }
    .projectContents{
        padding-left: 0px;
        height: auto;
    }
    .video{
        width: 308px;
        height: auto;
        
    }
    .content button{
        position: relative;
        left: 55px;
    }
}


